#game-board{
    border:1px solid magenta;
    display: inline-block;
    width: 450px;
    height: 450px;
    position: relative;
    overflow: hidden;
}
.block{
    position: absolute;
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 1px;
    border:1px solid pink;
    box-sizing: border-box;
    transition: top 1s,left 1s;
    z-index: 500;
}