/* variables */
    /* --main-color: black;
    color:var(--main-color); */
div{
    --block-size: 50px;
    --block-fontsize: 45px; /* block-5px */
    --block-color-1: #8a7a76;
    --block-color-2: #fbb09f;
    --block-color-3: #fd0730;
    --block-color-4: #ebecec;
    --block-color-5: #fc8374;
    /* ham90Blackcow */
    --block-background-image-1: url("/images/blackcow.png");
    /* url("https://static-cdn.jtvnw.net/emoticons/v1/303220996/1.0"); */
    /* ham90Um  */
    --block-background-image-2: url("/images/um.png");
    /* url("https://static-cdn.jtvnw.net/emoticons/v1/303227993/1.0"); */
    /* ham90S2  */
    --block-background-image-3: url("/images/S2.png");
    /* url("https://static-cdn.jtvnw.net/emoticons/v1/303227991/1.0"); */
    /* ham90Nanaemote */
    --block-background-image-4: url("/images/nana.png");
    /* url("https://static-cdn.jtvnw.net/emoticons/v1/303220984/1.0"); */
    /* ham90Oh */
    --background-image-oh: url("/images/oh.png");
    /* url("https://static-cdn.jtvnw.net/emoticons/v1/303127884/1.0"); */
    /* ham90Rip */
    --background-image-rip: url("/images/rip.png");
    /* url("https://static-cdn.jtvnw.net/emoticons/v1/303127853/1.0"); */
    /* ham90Sibal */
    --block-background-image-5: url("/images/sibal.png");
    /* url("https://static-cdn.jtvnw.net/emoticons/v1/303227981/1.0"); */
    /* ham90Dab */
    /* https://static-cdn.jtvnw.net/emoticons/v1/303197573/1.0 */
    /* ham90Ddong */
    /* https://static-cdn.jtvnw.net/emoticons/v1/303220977/1.0 */
    --background-image-poop: url("/images/poop.png");
    /* url("https://static-cdn.jtvnw.net/emoticons/v1/303220977/1.0") */
    /* ham90Hamface */
    /* https://static-cdn.jtvnw.net/emoticons/v1/300804047/1.0 */
}

/* variables end */

@font-face {
    font-family: aolloyink;
    src: url("./AlloyInk-lgdWw.otf") format("opentype");
}
body{
    font-family: aolloyink;
    margin:0;
    height:100%;
    background-color: rgb(255, 227, 247);
}
.link-img{
    width: 30px;
    height: 30px;
    margin: 0 20px;
    left: 0;
    position: absolute;
    border-radius: 25px;
    border:3px solid pink;
}
.block-info{
    display: inline-flex;
    font-size: var(--block-fontsize);
    padding: 5px;
    border-radius: 20px;
}
.block-info.success{
    background-color: rgb(255, 121, 255);
    color: white;
}
.block-wrap{
    position:relative;
    width: var(--block-size);
    height: var(--block-size);
    margin: 0 auto;
}
#cover>span{
    font-size: 30px;
    color: rgb(255, 255, 255);
    text-shadow: 5px 5px #ff7cff;
    border-radius: 50px;
}
#message{
    display: inline-block;
}
.top{
    position: relative;
    background-color: rgb(255, 204, 255);
    border-radius: 10px;
    width:100%;
    height: 5vh;
}
.title{
    color:white;
    font-size: 30px;
    line-height: 40px;
}
#mute{
    width: 26px;
    height: 26px;
    background-color: white;
    background-image: url("/images/speaker.png");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 5px;
    display: inline-block;
    margin: 5px;
    right: 0;
    position: absolute;
}
#mute.mute{
    background-color: pink;
    opacity: .5;
}
#wrap{
    height:100%;
    text-align: center;
}
#inner{
    bottom:0;
    position: relative;
    display: inline-block;
    overflow: hidden;
    width: 360px;
}
#gamedata{
    max-width:400px;
    color:rgb(255, 121, 255);
    padding: 10px;
    margin: 0 auto;
}
.block-control{
    display: flex;
    align-content: space-evenly;
}
.block-control > div{
    flex:auto
}
#game-board{
    border:5px solid rgb(255, 204, 255);
    border-radius: 5px;
    display: inline-block;
    position: relative;
    overflow: hidden;
}
#cover{
    height:100%;
    width:100%;
    background-color: violet;
    opacity: .7;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
}
#score-scroll{
    color: rgb(255, 255, 255);
    text-shadow: 4px 4px #ff7cff;
    font-size: 40px;
    position: absolute;
    bottom:0px;
    opacity: 1;
    transition: bottom 1s, opacity 1s;
    z-index: 1001;
    text-align: center;
    width: 100%;
}
#score-scroll.up{
    bottom:100px;
    opacity: .6;
}
.block{
    position: absolute;
    display: inline-block;
    width: var(--block-size);
    height: var(--block-size);
    padding: 1px;
    border: 5px outset magenta;
    box-sizing: border-box;
    transition: top 1s, left 1s, opacity 1s, transform 1s, border .3s ease-in-out;
    z-index: 500;
    opacity: 1;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #ffa2df;
}
.block.first{
    border-color: var(--block-color-1);
    background-image: var(--block-background-image-1);
}
.block.second{
    border-color: var(--block-color-2);
    background-image: var(--block-background-image-2);
}
.block.third{
    border-color: var(--block-color-3);
    background-image: var(--block-background-image-3);
}
.block.forth{
    border-color: var(--block-color-4);
    background-image: var(--block-background-image-4);
}
.block.fifth{
    border-color: var(--block-color-5);
    background-image: var(--block-background-image-5);
}
.block.deleted{
    opacity: 0;
    transform: scale(1.5);
}
.block.selected{
    border-width: 5px;
    border-style: inset;
    z-index: 1000;
}
.reward-layer{
    top: 100px;
    width:100%;
    height:100%;
    position: fixed;
    left: 0;
    z-index: 1100;
    transition: all 2s;
    display: none;
}
.reward-wrap{
    width: 100%;
    height: 100%;
    max-width: 600px;
    margin: 0 auto 0;
    overflow: hidden;
}
#reward-line{
    background-color: rgba(255, 255, 255, .7);
    width: 160%;
    margin-left: -30%;
    margin-top: 20%;
    height: 300px;
    transform: rotate(20deg);
    transition: margin-top .6s;
}
#reward-line.hidden{
    margin-top: -120%;
}
#reward-box{
    margin: 0 auto;
    width: 200px;
    height: 280px;
    color:#fe86c2;
    font-size: 50px;
    transform: rotate(-20deg);
    padding: 15px 0;
}
.gamedata-top-box{
    justify-content: space-evenly;
    display: flex;
}
.bonus-box {
    width: 100px;
    height:100px;
}
#block-counts{
    display: flex;
    font-size: 45px;
    line-height: 50px;
}
#block-counts span{
    min-width: 100px;
    display: inline-block;
}

#defense-board{
    height: 16vh;
    max-width: 600px;
    margin:0 auto;
    position: relative;
    overflow: hidden;
    background-image: linear-gradient(#ffe3f7, #fff7fd, #ffe3f7);
}
.defense-icon{
    display: inline-block;
    width: 28px;
    height: 28px;
    position:absolute;
    background-repeat: no-repeat;
    background-size: cover;
}
@keyframes enemySwing {
    0% {
        transform: rotate(-10deg)
    }
    50% {
        transform: rotate(10deg)
    }
    100% {
        transform: rotate(-10deg)
    }
}
.defense-icon.enemy{
    left:0%;
    bottom:30px;
    background-image: var(--background-image-poop);
    animation-name: enemySwing;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    transition: left 1s, transform 1s, opacity 1s;
}
.defense-icon.enemy.deleted{
    opacity: 0;
    transform: scale(1.5);
}
@keyframes blackCowWave {
    0%   {
        bottom: -28px;
        left: 80px;
    }
    20%   {
        bottom: 0px;
        left: 60px;
    }
    40%   {
        bottom: -6px;
        left: 40px;
    }
    60%   {
        bottom: 0px;
        left: 20px;
    }
    80%   {
        bottom: -6px;
        left: 0px;
    }
    100%   {
        bottom: -28px;
        left: -20px;
        /* transform: scaleX(-1);
        filter: FlipH; */
    }
}
.defense-icon.blackcow{
    height: 28px;
    width: 560px;
    left: 100px;
    bottom: -28px;
    background-repeat: repeat;
    background-size: auto;
    background-image: var(--block-background-image-1);
}
.defense-icon.blackcow.active{
    animation-name: blackCowWave;
    animation-duration: 3s;
    /* animation-iteration-count: infinite; */
    animation-timing-function: linear;
}

.heart { 
    position: relative; 
    width: 10px; 
    height: 9px; 
    margin: 2px;
} 
.heart:before, .heart:after { 
    position: absolute; 
    content: ""; 
    left: 5px; 
    top: 0; 
    width: 5px; 
    height: 8px; 
    background: red; 
    border-radius: 5px 5px 0 0; 
    transform: rotate(-45deg); 
    transform-origin: 0 100%;
} 
.heart:after { 
    left: 0; 
    transform: rotate(45deg); 
    transform-origin :100% 100%; 
}
#heart-box {
    display: inline-block;
    position: absolute;
    right: 2px;
    overflow: hidden;
    width: 45px;
}
.defense-icon.oh-ham{
    background-image: var(--background-image-oh);
    top: 35%;
    right: 2px;
    border: 4px double #fe7abe;
    width: 34px;
    height: 34px;
}

#enemy-hit-points-box{
    display: inline-block;
    height: 7px;
    width: 0px;
    transition: width .3s;
    background-color: #fe7abe;
    position: absolute;
    left: 3px;
    top: 20px;
}

#stage-number{
    margin:0 auto;
    color:#fe7abe
}

#stage-number:before{
    content: "Stage ";
    color:#fe7abe
}

@keyframes flame
{
    0% {
        text-shadow: 0 0 20px #fefcc9,
            10px -10px 30px #feec85,
            -20px -20px 40px #ffae34,
            20px -40px 50px #ec760c,
            -20px -60px 60px #cd4606,
            0 -80px 70px #973716,
            10px -90px 80px #451b0e;
    }
    100% {
        text-shadow: 0 0 20px #fefcc9,
            10px -10px 30px #fefcc9,
            -20px -20px 40px #feec85,
            22px -42px 60px #ffae34,
            -22px -58px 50px #ec760c,
            0 -82px 80px #cd4606,
            10px -90px 80px  #973716;
    }
}
#spell-burn {
    margin-top: 45px;
    color: #d06f40;
    font-size: 3em;
    letter-spacing: .2em;
    animation: flame .65s ease-in-out infinite alternate;
    display: none;
}
#spell-burn.active {
    display: block;
}
@keyframes pawAction
{
    0% {
        font-size: 20px;
    }
    50% {
        font-size: 80px;
        opacity: 1;
    }
    100% {
        font-size: 20px;
        opacity: 0;
    }
}
#paw {
    color:#fe7abe;
    font-size: 20px;
    transform: rotate(-45deg);
    transition: font-size 1s;
    position: absolute;
    left: 20px;
    opacity: 0;
}
#paw.active{
    animation: pawAction 1s ease-in-out;
}

#enemy-main{
    left: 5%;
    width: 43px;
    height: 43px;
    top: 30%;
    background-image: var(--background-image-poop);
    transition: transform 1s;
    opacity: .8;
    border: 4px double #fe7abe;
}

#enemy-main.dead{
    background-image: var(--background-image-rip);
}